<a href="https://colab.research.google.com/github/hongan-z/_Mechine_Learning_ML/blob/main/cs179g_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 35 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 64.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d8bafac1fa1dc6a15125881b3cc8e7b1388539d0bb9915a2d107800b494e686a
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
import pyspark
import pandas as pd
import json

In [3]:
with open("Clean_New_Data.json") as f:
    data = json.load(f)

In [4]:
df = pd.DataFrame(data)
df.head()

               title  ... UserScoreNegative
0  Three Colors: Red  ...                 9
1            Boyhood  ...               354
2         Casablanca  ...                10
3        Rear Window  ...                10
4      The Godfather  ...               115

[5 rows x 8 columns]

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Sc').getOrCreate()

In [6]:
spark

In [7]:
sparkdf =spark.createDataFrame(df) 
sparkdf.printSchema()
sparkdf.show()

root
 |-- title: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- date: string (nullable = true)
 |-- Metascore: string (nullable = true)
 |-- Userscore: string (nullable = true)
 |-- UserScorePositive: string (nullable = true)
 |-- UserScoreMixed: string (nullable = true)
 |-- UserScoreNegative: string (nullable = true)

+--------------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+
|               title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|
+--------------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+
|   Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|      100|      8.6|              152|             4|                9|
|             Boyhood|             [Drama]|    July 11, 2014|      100|      7.5|            1,869|           274|              354|
|          Casablanca|[Drama, Romance, ...| January 23, 1943|      100|      8.9|              360|            11|               10|
|         Rear Window| [Mystery, Thriller]|September 1, 1954|      100|      8.8|              365|            15|               10|
|       The Godfather|[Drama, Thriller,...|   March 11, 1972|      100|      9.2|            3,293|            93|              115|
|         Intolerance|    [Drama, History]|September 5, 1916|       99|      7.4|               13|             1|                4|
|           Moonlight|             [Drama]| October 21, 2016|       99|      7.1|            1,244|           175|              317|
|         City Lights|[Drama, Comedy, R...|    March 7, 1931|       99|      8.9|              102|             1|                3|
| Singin' in the Rain|[Comedy, Romance,...|   April 11, 1952|       99|      8.7|              169|            13|                5|
|           Notorious|[Drama, Thriller,...|September 6, 1946|      100|      8.0|               64|             7|                3|
|    Some Like It Hot|   [Comedy, Romance]|   March 29, 1959|       98|      8.4|              140|            11|                4|
|     Pan's Labyrinth|[Drama, Mystery, ...|December 29, 2006|       98|      8.7|            2,414|           188|              150|
|The Treasure of t...|[Adventure, Drama...| January 24, 1948|       98|      8.5|               93|             6|                2|
|        Citizen Kane|    [Drama, Mystery]|September 4, 1941|      100|      8.4|              600|            52|               36|
|           Lady Bird|     [Drama, Comedy]| November 3, 2017|       94|      7.6|              786|           117|               90|
|        We Were Here|       [Documentary]|September 9, 2011|       94|      6.9|               27|             6|                9|
|      The Gunfighter|           [Western]|    June 23, 1950|       94|      7.4|                8|             1|                0|
|      Apocalypse Now|[Action, Drama, War]|  August 15, 1979|       94|      8.8|              619|            35|               21|
|       The Apartment|[Drama, Comedy, R...|    June 15, 1960|       94|      8.8|               40|             0|                1|
|Meet Me in St. Louis|[Drama, Comedy, R...|  January 1, 1945|       94|      6.0|                2|             2|                1|
+--------------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+
only showing top 20 rows

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(sparkdf)

pyspark.sql.dataframe.DataFrame

In [10]:
type('UserScoreMixed')

str

In [11]:
sparkdf.select('genres').show()

+--------------------+
|              genres|
+--------------------+
|[Drama, Mystery, ...|
|             [Drama]|
|[Drama, Romance, ...|
| [Mystery, Thriller]|
|[Drama, Thriller,...|
|    [Drama, History]|
|             [Drama]|
|[Drama, Comedy, R...|
|[Comedy, Romance,...|
|[Drama, Thriller,...|
|   [Comedy, Romance]|
|[Drama, Mystery, ...|
|[Adventure, Drama...|
|    [Drama, Mystery]|
|     [Drama, Comedy]|
|       [Documentary]|
|           [Western]|
|[Action, Drama, War]|
|[Drama, Comedy, R...|
|[Drama, Comedy, R...|
+--------------------+
only showing top 20 rows

In [12]:
sparkdf.show()

+--------------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+
|               title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|
+--------------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+
|   Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|      100|      8.6|              152|             4|                9|
|             Boyhood|             [Drama]|    July 11, 2014|      100|      7.5|            1,869|           274|              354|
|          Casablanca|[Drama, Romance, ...| January 23, 1943|      100|      8.9|              360|            11|               10|
|         Rear Window| [Mystery, Thriller]|September 1, 1954|      100|      8.8|              365|            15|               10|
|       The Godfather|[Drama, Thriller,...|   March 11, 1972|      100|      9.2|            3,293|            93|              115|
|         Intolerance|    [Drama, History]|September 5, 1916|       99|      7.4|               13|             1|                4|
|           Moonlight|             [Drama]| October 21, 2016|       99|      7.1|            1,244|           175|              317|
|         City Lights|[Drama, Comedy, R...|    March 7, 1931|       99|      8.9|              102|             1|                3|
| Singin' in the Rain|[Comedy, Romance,...|   April 11, 1952|       99|      8.7|              169|            13|                5|
|           Notorious|[Drama, Thriller,...|September 6, 1946|      100|      8.0|               64|             7|                3|
|    Some Like It Hot|   [Comedy, Romance]|   March 29, 1959|       98|      8.4|              140|            11|                4|
|     Pan's Labyrinth|[Drama, Mystery, ...|December 29, 2006|       98|      8.7|            2,414|           188|              150|
|The Treasure of t...|[Adventure, Drama...| January 24, 1948|       98|      8.5|               93|             6|                2|
|        Citizen Kane|    [Drama, Mystery]|September 4, 1941|      100|      8.4|              600|            52|               36|
|           Lady Bird|     [Drama, Comedy]| November 3, 2017|       94|      7.6|              786|           117|               90|
|        We Were Here|       [Documentary]|September 9, 2011|       94|      6.9|               27|             6|                9|
|      The Gunfighter|           [Western]|    June 23, 1950|       94|      7.4|                8|             1|                0|
|      Apocalypse Now|[Action, Drama, War]|  August 15, 1979|       94|      8.8|              619|            35|               21|
|       The Apartment|[Drama, Comedy, R...|    June 15, 1960|       94|      8.8|               40|             0|                1|
|Meet Me in St. Louis|[Drama, Comedy, R...|  January 1, 1945|       94|      6.0|                2|             2|                1|
+--------------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import col
df = (sparkdf
       .withColumn("Metascore", col("Metascore").cast("float"))
       .withColumn("Userscore", col("Userscore").cast("float"))
       .withColumn("UserScorePositive", col("UserScorePositive").cast("float"))
       .withColumn("UserScoreMixed", col("UserScoreMixed").cast("float"))
       .withColumn("UserScoreNegative", col("UserScoreNegative").cast("float"))
       .dropna()
       )

In [14]:
df

DataFrame[title: string, genres: array<string>, date: string, Metascore: float, Userscore: float, UserScorePositive: float, UserScoreMixed: float, UserScoreNegative: float]

In [15]:
from pyspark.sql.functions import col

In [16]:
df1= df.withColumn("PerPostive", (col("UserScorePositive") / col("UserScorePositive")+col("UserScoreMixed")+col('UserScoreNegative')))

In [17]:
df1.show(3)

+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+----------+
|            title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|PerPostive|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+----------+
|Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|            152.0|           4.0|              9.0|      14.0|
|       Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|            360.0|          11.0|             10.0|      22.0|
|      Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8|            365.0|          15.0|             10.0|      26.0|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+----------+
only showing top 3 rows

In [24]:
df1.printSchema()

root
 |-- title: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- date: string (nullable = true)
 |-- Metascore: float (nullable = true)
 |-- Userscore: float (nullable = true)
 |-- UserScorePositive: float (nullable = true)
 |-- UserScoreMixed: float (nullable = true)
 |-- UserScoreNegative: float (nullable = true)
 |-- PerPostive: double (nullable = true)

In [31]:
df11=df1.drop(df1.UserScorePositive)

df11.show()

+--------------------+--------------------+-----------------+---------+---------+--------------+-----------------+----------+
|               title|              genres|             date|Metascore|Userscore|UserScoreMixed|UserScoreNegative|PerPostive|
+--------------------+--------------------+-----------------+---------+---------+--------------+-----------------+----------+
|   Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|           4.0|              9.0|      14.0|
|          Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|          11.0|             10.0|      22.0|
|         Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8|          15.0|             10.0|      26.0|
|         Intolerance|    [Drama, History]|September 5, 1916|     99.0|      7.4|           1.0|              4.0|       6.0|
|         City Lights|[Drama, Comedy, R...|    March 7, 1931|     99.0|      8.9|           1.0|              3.0|       5.0|
| Singin' in the Rain|[Comedy, Romance,...|   April 11, 1952|     99.0|      8.7|          13.0|              5.0|      19.0|
|           Notorious|[Drama, Thriller,...|September 6, 1946|    100.0|      8.0|           7.0|              3.0|      11.0|
|    Some Like It Hot|   [Comedy, Romance]|   March 29, 1959|     98.0|      8.4|          11.0|              4.0|      16.0|
|The Treasure of t...|[Adventure, Drama...| January 24, 1948|     98.0|      8.5|           6.0|              2.0|       9.0|
|        Citizen Kane|    [Drama, Mystery]|September 4, 1941|    100.0|      8.4|          52.0|             36.0|      89.0|
|           Lady Bird|     [Drama, Comedy]| November 3, 2017|     94.0|      7.6|         117.0|             90.0|     208.0|
|        We Were Here|       [Documentary]|September 9, 2011|     94.0|      6.9|           6.0|              9.0|      16.0|
|      The Gunfighter|           [Western]|    June 23, 1950|     94.0|      7.4|           1.0|              0.0|       2.0|
|      Apocalypse Now|[Action, Drama, War]|  August 15, 1979|     94.0|      8.8|          35.0|             21.0|      57.0|
|       The Apartment|[Drama, Comedy, R...|    June 15, 1960|     94.0|      8.8|           0.0|              1.0|       2.0|
|Meet Me in St. Louis|[Drama, Comedy, R...|  January 1, 1945|     94.0|      6.0|           2.0|              1.0|       4.0|
| The Florida Project|             [Drama]|  October 6, 2017|     92.0|      7.4|          40.0|             46.0|      87.0|
|The Man Who Would...|         [Adventure]|December 16, 1975|     91.0|      6.8|           2.0|              2.0|       5.0|
| Jafar Panahi's Taxi|     [Drama, Comedy]|  October 2, 2015|     91.0|      7.1|          10.0|             11.0|      22.0|
|             Vertigo|[Mystery, Thrille...|     May 28, 1958|    100.0|      8.7|          21.0|              5.0|      27.0|
+--------------------+--------------------+-----------------+---------+---------+--------------+-----------------+----------+
only showing top 20 rows

In [18]:
df2 = df.withColumn("Sum", col("UserScorePositive")+ col("UserScoreMixed")+col('UserScoreNegative'))

In [19]:
df2.show(3)

+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+
|            title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|  Sum|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+
|Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|            152.0|           4.0|              9.0|165.0|
|       Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|            360.0|          11.0|             10.0|381.0|
|      Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8|            365.0|          15.0|             10.0|390.0|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+
only showing top 3 rows

In [20]:
Nega = df2.withColumn("Negative", col("UserScoreNegative") / col("Sum"))
Nega.show(2)

+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+--------------------+
|            title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|  Sum|            Negative|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+--------------------+
|Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|            152.0|           4.0|              9.0|165.0| 0.05454545454545454|
|       Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|            360.0|          11.0|             10.0|381.0|0.026246719160104987|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+--------------------+
only showing top 2 rows

In [33]:
dfNega=Nega.drop('UserScoreNegative','UserScoreMixed','UserScorePositive','Sum')
dfNega.show()

+--------------------+--------------------+-----------------+---------+---------+--------------------+
|               title|              genres|             date|Metascore|Userscore|            Negative|
+--------------------+--------------------+-----------------+---------+---------+--------------------+
|   Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6| 0.05454545454545454|
|          Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|0.026246719160104987|
|         Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8| 0.02564102564102564|
|         Intolerance|    [Drama, History]|September 5, 1916|     99.0|      7.4|  0.2222222222222222|
|         City Lights|[Drama, Comedy, R...|    March 7, 1931|     99.0|      8.9| 0.02830188679245283|
| Singin' in the Rain|[Comedy, Romance,...|   April 11, 1952|     99.0|      8.7|0.026737967914438502|
|           Notorious|[Drama, Thriller,...|September 6, 1946|    100.0|      8.0| 0.04054054054054054|
|    Some Like It Hot|   [Comedy, Romance]|   March 29, 1959|     98.0|      8.4|0.025806451612903226|
|The Treasure of t...|[Adventure, Drama...| January 24, 1948|     98.0|      8.5|0.019801980198019802|
|        Citizen Kane|    [Drama, Mystery]|September 4, 1941|    100.0|      8.4| 0.05232558139534884|
|           Lady Bird|     [Drama, Comedy]| November 3, 2017|     94.0|      7.6| 0.09063444108761329|
|        We Were Here|       [Documentary]|September 9, 2011|     94.0|      6.9| 0.21428571428571427|
|      The Gunfighter|           [Western]|    June 23, 1950|     94.0|      7.4|                 0.0|
|      Apocalypse Now|[Action, Drama, War]|  August 15, 1979|     94.0|      8.8| 0.03111111111111111|
|       The Apartment|[Drama, Comedy, R...|    June 15, 1960|     94.0|      8.8|0.024390243902439025|
|Meet Me in St. Louis|[Drama, Comedy, R...|  January 1, 1945|     94.0|      6.0|                 0.2|
| The Florida Project|             [Drama]|  October 6, 2017|     92.0|      7.4| 0.12602739726027398|
|The Man Who Would...|         [Adventure]|December 16, 1975|     91.0|      6.8| 0.15384615384615385|
| Jafar Panahi's Taxi|     [Drama, Comedy]|  October 2, 2015|     91.0|      7.1|  0.1527777777777778|
|             Vertigo|[Mystery, Thrille...|     May 28, 1958|    100.0|      8.7|0.017241379310344827|
+--------------------+--------------------+-----------------+---------+---------+--------------------+
only showing top 20 rows

In [21]:
Posi = df2.withColumn(
    "Positive", col("UserScorePositive") / col("Sum")
    
    )
Posi.show(3)

+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+------------------+
|            title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|  Sum|          Positive|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+------------------+
|Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|            152.0|           4.0|              9.0|165.0|0.9212121212121213|
|       Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|            360.0|          11.0|             10.0|381.0|0.9448818897637795|
|      Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8|            365.0|          15.0|             10.0|390.0|0.9358974358974359|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+------------------+
only showing top 3 rows

In [60]:
dfPosi=Posi.drop('UserScorePositive','UserScoreMixed','UserScoreNegative','Sum','date')
dfPosi.show()

+--------------------+--------------------+---------+---------+------------------+
|               title|              genres|Metascore|Userscore|          Positive|
+--------------------+--------------------+---------+---------+------------------+
|   Three Colors: Red|[Drama, Mystery, ...|    100.0|      8.6|0.9212121212121213|
|          Casablanca|[Drama, Romance, ...|    100.0|      8.9|0.9448818897637795|
|         Rear Window| [Mystery, Thriller]|    100.0|      8.8|0.9358974358974359|
|         Intolerance|    [Drama, History]|     99.0|      7.4|0.7222222222222222|
|         City Lights|[Drama, Comedy, R...|     99.0|      8.9|0.9622641509433962|
| Singin' in the Rain|[Comedy, Romance,...|     99.0|      8.7|0.9037433155080213|
|           Notorious|[Drama, Thriller,...|    100.0|      8.0|0.8648648648648649|
|    Some Like It Hot|   [Comedy, Romance]|     98.0|      8.4|0.9032258064516129|
|The Treasure of t...|[Adventure, Drama...|     98.0|      8.5|0.9207920792079208|
|        Citizen Kane|    [Drama, Mystery]|    100.0|      8.4| 0.872093023255814|
|           Lady Bird|     [Drama, Comedy]|     94.0|      7.6|0.7915407854984894|
|        We Were Here|       [Documentary]|     94.0|      6.9|0.6428571428571429|
|      The Gunfighter|           [Western]|     94.0|      7.4|0.8888888888888888|
|      Apocalypse Now|[Action, Drama, War]|     94.0|      8.8| 0.917037037037037|
|       The Apartment|[Drama, Comedy, R...|     94.0|      8.8| 0.975609756097561|
|Meet Me in St. Louis|[Drama, Comedy, R...|     94.0|      6.0|               0.4|
| The Florida Project|             [Drama]|     92.0|      7.4|0.7643835616438356|
|The Man Who Would...|         [Adventure]|     91.0|      6.8|0.6923076923076923|
| Jafar Panahi's Taxi|     [Drama, Comedy]|     91.0|      7.1|0.7083333333333334|
|             Vertigo|[Mystery, Thrille...|    100.0|      8.7|0.9103448275862069|
+--------------------+--------------------+---------+---------+------------------+
only showing top 20 rows

In [22]:
Mixed = df2.withColumn(
   
    "Mixed", col("UserScoreMixed") / col("Sum")
    )
Mixed .show(3)

+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+--------------------+
|            title|              genres|             date|Metascore|Userscore|UserScorePositive|UserScoreMixed|UserScoreNegative|  Sum|               Mixed|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+--------------------+
|Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|            152.0|           4.0|              9.0|165.0|0.024242424242424242|
|       Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|            360.0|          11.0|             10.0|381.0|0.028871391076115485|
|      Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8|            365.0|          15.0|             10.0|390.0|0.038461538461538464|
+-----------------+--------------------+-----------------+---------+---------+-----------------+--------------+-----------------+-----+--------------------+
only showing top 3 rows

In [36]:
dfMixed=Mixed.drop('UserScorePositive','UserScoreMixed','UserScoreNegative')
dfMixed.show()

+--------------------+--------------------+-----------------+---------+---------+-----+--------------------+
|               title|              genres|             date|Metascore|Userscore|  Sum|               Mixed|
+--------------------+--------------------+-----------------+---------+---------+-----+--------------------+
|   Three Colors: Red|[Drama, Mystery, ...|November 23, 1994|    100.0|      8.6|165.0|0.024242424242424242|
|          Casablanca|[Drama, Romance, ...| January 23, 1943|    100.0|      8.9|381.0|0.028871391076115485|
|         Rear Window| [Mystery, Thriller]|September 1, 1954|    100.0|      8.8|390.0|0.038461538461538464|
|         Intolerance|    [Drama, History]|September 5, 1916|     99.0|      7.4| 18.0| 0.05555555555555555|
|         City Lights|[Drama, Comedy, R...|    March 7, 1931|     99.0|      8.9|106.0|0.009433962264150943|
| Singin' in the Rain|[Comedy, Romance,...|   April 11, 1952|     99.0|      8.7|187.0| 0.06951871657754011|
|           Notorious|[Drama, Thriller,...|September 6, 1946|    100.0|      8.0| 74.0|  0.0945945945945946|
|    Some Like It Hot|   [Comedy, Romance]|   March 29, 1959|     98.0|      8.4|155.0| 0.07096774193548387|
|The Treasure of t...|[Adventure, Drama...| January 24, 1948|     98.0|      8.5|101.0|  0.0594059405940594|
|        Citizen Kane|    [Drama, Mystery]|September 4, 1941|    100.0|      8.4|688.0|  0.0755813953488372|
|           Lady Bird|     [Drama, Comedy]| November 3, 2017|     94.0|      7.6|993.0| 0.11782477341389729|
|        We Were Here|       [Documentary]|September 9, 2011|     94.0|      6.9| 42.0| 0.14285714285714285|
|      The Gunfighter|           [Western]|    June 23, 1950|     94.0|      7.4|  9.0|  0.1111111111111111|
|      Apocalypse Now|[Action, Drama, War]|  August 15, 1979|     94.0|      8.8|675.0| 0.05185185185185185|
|       The Apartment|[Drama, Comedy, R...|    June 15, 1960|     94.0|      8.8| 41.0|                 0.0|
|Meet Me in St. Louis|[Drama, Comedy, R...|  January 1, 1945|     94.0|      6.0|  5.0|                 0.4|
| The Florida Project|             [Drama]|  October 6, 2017|     92.0|      7.4|365.0|  0.1095890410958904|
|The Man Who Would...|         [Adventure]|December 16, 1975|     91.0|      6.8| 13.0| 0.15384615384615385|
| Jafar Panahi's Taxi|     [Drama, Comedy]|  October 2, 2015|     91.0|      7.1| 72.0|  0.1388888888888889|
|             Vertigo|[Mystery, Thrille...|     May 28, 1958|    100.0|      8.7|290.0| 0.07241379310344828|
+--------------------+--------------------+-----------------+---------+---------+-----+--------------------+
only showing top 20 rows

In [70]:
from pyspark.sql.functions import *

In [83]:
dfMixed = dfMixed.alias('dfMixed')
dfPosi = dfPosi.alias('dfPosi')

newdf =dfMixed.join(dfPosi, dfMixed.title == dfPosi.title).select(dfMixed['*'],dfPosi['Positive'])
newdf.show(2)

+------------------+--------------------+-------------+---------+---------+----+-------------------+------------------+
|             title|              genres|         date|Metascore|Userscore| Sum|              Mixed|          Positive|
+------------------+--------------------+-------------+---------+---------+----+-------------------+------------------+
|          Deep Red|[Mystery, Thrille...|June 11, 1976|     89.0|      8.2|23.0|0.17391304347826086|0.8260869565217391|
|Living in Oblivion|     [Drama, Comedy]|July 21, 1995|     81.0|      7.0| 5.0|                0.0|               0.8|
+------------------+--------------------+-------------+---------+---------+----+-------------------+------------------+
only showing top 2 rows

In [84]:
newdf = newdf.alias('newdf')
dfNega = dfNega.alias('dfNega')

joinnew = newdf.join(dfNega, dfNega.date == newdf.date).select(newdf['*'],dfNega['Negative'])
joinnew.show()

+--------------------+--------------------+-----------------+---------+---------+----+--------------------+------------------+--------------------+
|               title|              genres|             date|Metascore|Userscore| Sum|               Mixed|          Positive|            Negative|
+--------------------+--------------------+-----------------+---------+---------+----+--------------------+------------------+--------------------+
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1|35.0| 0.45714285714285713|0.5428571428571428| 0.18823529411764706|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1|35.0| 0.45714285714285713|0.5428571428571428|  0.1320754716981132|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1|35.0| 0.45714285714285713|0.5428571428571428|  0.6745283018867925|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1|35.0| 0.45714285714285713|0.5428571428571428| 0.06890756302521009|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1|35.0| 0.45714285714285713|0.5428571428571428| 0.09216589861751152|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1|35.0| 0.45714285714285713|0.5428571428571428|                 0.0|
|         Dream Horse|[Biography, Drama...|     May 21, 2021|     68.0|      6.0| 6.0|  0.6666666666666666|0.3333333333333333|                 0.5|
|         Dream Horse|[Biography, Drama...|     May 21, 2021|     68.0|      6.0| 6.0|  0.6666666666666666|0.3333333333333333|                 0.0|
|         Dream Horse|[Biography, Drama...|     May 21, 2021|     68.0|      6.0| 6.0|  0.6666666666666666|0.3333333333333333| 0.21052631578947367|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|  0.6888888888888889|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226| 0.21194029850746268|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|  0.3333333333333333|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|               0.375|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|                 0.8|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|                0.04|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|  0.3333333333333333|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226| 0.12418300653594772|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226| 0.06451612903225806|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|31.0|  0.3548387096774194|0.5806451612903226|                 0.0|
|Kiki's Delivery S...|[Adventure, Drama...|    July 29, 1989|     83.0|      8.4|87.0|0.034482758620689655|0.9310344827586207|0.034482758620689655|
+--------------------+--------------------+-----------------+---------+---------+----+--------------------+------------------+--------------------+
only showing top 20 rows

In [87]:
totdf= joinnew.drop('Sum') 
totdf.show()

+--------------------+--------------------+-----------------+---------+---------+--------------------+------------------+--------------------+
|               title|              genres|             date|Metascore|Userscore|               Mixed|          Positive|            Negative|
+--------------------+--------------------+-----------------+---------+---------+--------------------+------------------+--------------------+
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1| 0.45714285714285713|0.5428571428571428| 0.18823529411764706|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1| 0.45714285714285713|0.5428571428571428|  0.1320754716981132|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1| 0.45714285714285713|0.5428571428571428|  0.6745283018867925|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1| 0.45714285714285713|0.5428571428571428| 0.06890756302521009|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1| 0.45714285714285713|0.5428571428571428| 0.09216589861751152|
| The Invisible Woman|[Biography, Drama...|December 25, 2013|     75.0|      7.1| 0.45714285714285713|0.5428571428571428|                 0.0|
|         Dream Horse|[Biography, Drama...|     May 21, 2021|     68.0|      6.0|  0.6666666666666666|0.3333333333333333|                 0.5|
|         Dream Horse|[Biography, Drama...|     May 21, 2021|     68.0|      6.0|  0.6666666666666666|0.3333333333333333|                 0.0|
|         Dream Horse|[Biography, Drama...|     May 21, 2021|     68.0|      6.0|  0.6666666666666666|0.3333333333333333| 0.21052631578947367|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|  0.6888888888888889|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226| 0.21194029850746268|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|  0.3333333333333333|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|               0.375|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|                 0.8|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|                0.04|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|  0.3333333333333333|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226| 0.12418300653594772|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226| 0.06451612903225806|
|     The Family Fang|[Drama, Mystery, ...|   April 29, 2016|     67.0|      6.7|  0.3548387096774194|0.5806451612903226|                 0.0|
|Kiki's Delivery S...|[Adventure, Drama...|    July 29, 1989|     83.0|      8.4|0.034482758620689655|0.9310344827586207|0.034482758620689655|
+--------------------+--------------------+-----------------+---------+---------+--------------------+------------------+--------------------+
only showing top 20 rows

In [103]:
#Normalized MetaScore
normaltot=totdf.withColumn('NormalizedMetaScore', (col('Metascore')/10))
normaldf = normaltot.drop('Metascore')
normaldf.show()
type(normaldf)

+--------------------+--------------------+-----------------+---------+-------------------+------------------+--------------------+-------------------+
|               title|              genres|             date|Userscore|              Mixed|          Positive|            Negative|NormalizedMetaScore|
+--------------------+--------------------+-----------------+---------+-------------------+------------------+--------------------+-------------------+
|            Deep Red|[Mystery, Thrille...|    June 11, 1976|      8.2|0.17391304347826086|0.8260869565217391|                 0.0|                8.9|
|  Living in Oblivion|     [Drama, Comedy]|    July 21, 1995|      7.0|                0.0|               0.8|                 0.2|                8.1|
|          Starred Up|             [Drama]|  August 27, 2014|      8.1|0.07368421052631578|0.9052631578947369| 0.17525773195876287|                8.1|
|          Starred Up|             [Drama]|  August 27, 2014|      8.1|0.07368421052631578|0.9052631578947369|0.021052631578947368|                8.1|
|The Devil Came on...|       [Documentary]|    July 25, 2007|      7.9|                0.0|             0.875| 0.09090909090909091|                7.8|
|The Devil Came on...|       [Documentary]|    July 25, 2007|      7.9|                0.0|             0.875|               0.125|                7.8|
|  My Flesh and Blood|       [Documentary]|November 28, 2003|      8.6|                0.0|0.8571428571428571|                 0.2|                7.8|
|  My Flesh and Blood|       [Documentary]|November 28, 2003|      8.6|                0.0|0.8571428571428571| 0.14285714285714285|                7.8|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|  0.3269230769230769|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                 0.0|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|  0.4329268292682927|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                0.25|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428| 0.04411764705882353|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428| 0.15142857142857144|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                 0.2|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                 0.0|                7.5|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428| 0.08860759493670886|                7.5|
|La Ciudad (The City)|             [Drama]| October 22, 1999|      6.9| 0.2857142857142857|0.5714285714285714| 0.10204081632653061|                7.6|
|La Ciudad (The City)|             [Drama]| October 22, 1999|      6.9| 0.2857142857142857|0.5714285714285714| 0.12121212121212122|                7.6|
|La Ciudad (The City)|             [Drama]| October 22, 1999|      6.9| 0.2857142857142857|0.5714285714285714| 0.14285714285714285|                7.6|
+--------------------+--------------------+-----------------+---------+-------------------+------------------+--------------------+-------------------+
only showing top 20 rows

pyspark.sql.dataframe.DataFrame

In [150]:
normaldf.show(2)
type(normaldf)

+------------------+--------------------+-------------+---------+-------------------+------------------+--------+-------------------+
|             title|              genres|         date|Userscore|              Mixed|          Positive|Negative|NormalizedMetaScore|
+------------------+--------------------+-------------+---------+-------------------+------------------+--------+-------------------+
|          Deep Red|[Mystery, Thrille...|June 11, 1976|      8.2|0.17391304347826086|0.8260869565217391|     0.0|                8.9|
|Living in Oblivion|     [Drama, Comedy]|July 21, 1995|      7.0|                0.0|               0.8|     0.2|                8.1|
+------------------+--------------------+-------------+---------+-------------------+------------------+--------+-------------------+
only showing top 2 rows

pyspark.sql.dataframe.DataFrame

In [153]:
normaldf.write.json('normalized_data')

AnalysisException: ignored

In [145]:

#dfnor1 = normaldf.select('*',round('Positive',2)).show()
#normaldf.select('*',round('Mixed',2))
#normaldf.select('*',round('Negative',2))

+--------------------+--------------------+-----------------+---------+-------------------+------------------+--------------------+-------------------+------------------+
|               title|              genres|             date|Userscore|              Mixed|          Positive|            Negative|NormalizedMetaScore|round(Positive, 2)|
+--------------------+--------------------+-----------------+---------+-------------------+------------------+--------------------+-------------------+------------------+
|            Deep Red|[Mystery, Thrille...|    June 11, 1976|      8.2|0.17391304347826086|0.8260869565217391|                 0.0|                8.9|              0.83|
|  Living in Oblivion|     [Drama, Comedy]|    July 21, 1995|      7.0|                0.0|               0.8|                 0.2|                8.1|               0.8|
|          Starred Up|             [Drama]|  August 27, 2014|      8.1|0.07368421052631578|0.9052631578947369| 0.17525773195876287|                8.1|              0.91|
|          Starred Up|             [Drama]|  August 27, 2014|      8.1|0.07368421052631578|0.9052631578947369|0.021052631578947368|                8.1|              0.91|
|The Devil Came on...|       [Documentary]|    July 25, 2007|      7.9|                0.0|             0.875| 0.09090909090909091|                7.8|              0.88|
|The Devil Came on...|       [Documentary]|    July 25, 2007|      7.9|                0.0|             0.875|               0.125|                7.8|              0.88|
|  My Flesh and Blood|       [Documentary]|November 28, 2003|      8.6|                0.0|0.8571428571428571|                 0.2|                7.8|              0.86|
|  My Flesh and Blood|       [Documentary]|November 28, 2003|      8.6|                0.0|0.8571428571428571| 0.14285714285714285|                7.8|              0.86|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|  0.3269230769230769|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                 0.0|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|  0.4329268292682927|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                0.25|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428| 0.04411764705882353|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428| 0.15142857142857144|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                 0.2|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428|                 0.0|                7.5|              0.68|
|Raya and the Last...|[Action, Adventur...|    March 5, 2021|      7.0| 0.1657142857142857|0.6828571428571428| 0.08860759493670886|                7.5|              0.68|
|La Ciudad (The City)|             [Drama]| October 22, 1999|      6.9| 0.2857142857142857|0.5714285714285714| 0.10204081632653061|                7.6|              0.57|
|La Ciudad (The City)|             [Drama]| October 22, 1999|      6.9| 0.2857142857142857|0.5714285714285714| 0.12121212121212122|                7.6|              0.57|
|La Ciudad (The City)|             [Drama]| October 22, 1999|      6.9| 0.2857142857142857|0.5714285714285714| 0.14285714285714285|                7.6|              0.57|
+--------------------+--------------------+-----------------+---------+-------------------+------------------+--------------------+-------------------+------------------+
only showing top 20 rows

AttributeError: ignored