<a href="https://colab.research.google.com/github/hongan-z/_Mechine_Learning_ML/blob/main/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 40 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=bb77782725df28a9efdce08f511c8bad2c5c00931422a7b4adcacb9c2a78cfdc
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [7]:
import pyspark
import pandas as pd
import json

In [9]:
with open("score.json") as f:
    score = json.load(f)

In [10]:
df = pd.DataFrame(score)

In [15]:
Pandasdf= df.transpose()
Pandasdf.head()

          info.title  ... user_score.distribution.negative
0  Three Colors: Red  ...                                9
1            Boyhood  ...                              354
2         Casablanca  ...                               10
3        Rear Window  ...                               10
4      The Godfather  ...                              115

[5 rows x 11 columns]

In [16]:
data = Pandasdf.to_json('./score.json',orient='index')

None

In [17]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Sc').getOrCreate()

In [18]:
spark

In [19]:
type(Pandasdf)

pandas.core.frame.DataFrame

In [20]:
df2=spark.read.format("score.json")

In [21]:
type(df2)

pyspark.sql.readwriter.DataFrameReader

In [22]:
from pyspark.sql import SparkSession

In [24]:
sparkDF=spark.createDataFrame(Pandasdf) 
sparkDF.printSchema()
sparkDF.show()

root
 |-- info.title: string (nullable = true)
 |-- info.summary: string (nullable = true)
 |-- info.date: string (nullable = true)
 |-- meta_score.score: string (nullable = true)
 |-- meta_score.distribution.positive: string (nullable = true)
 |-- meta_score.distribution.mixed: string (nullable = true)
 |-- meta_score.distribution.negative: string (nullable = true)
 |-- user_score.score: string (nullable = true)
 |-- user_score.distribution.positive: string (nullable = true)
 |-- user_score.distribution.mixed: string (nullable = true)
 |-- user_score.distribution.negative: string (nullable = true)

+--------------------+--------------------+-----------------+----------------+--------------------------------+-----------------------------+--------------------------------+----------------+--------------------------------+-----------------------------+--------------------------------+
|          info.title|        info.summary|        info.date|meta_score.score|meta_score.distribution.positive|meta_score.distribution.mixed|meta_score.distribution.negative|user_score.score|user_score.distribution.positive|user_score.distribution.mixed|user_score.distribution.negative|
+--------------------+--------------------+-----------------+----------------+--------------------------------+-----------------------------+--------------------------------+----------------+--------------------------------+-----------------------------+--------------------------------+
|   Three Colors: Red|Krzysztof Kieslow...|November 23, 1994|             100|                               9|                            0|                               0|             8.6|                             152|                            4|                               9|
|             Boyhood|Filmed over 12 ye...|    July 11, 2014|             100|                              50|                            0|                               0|             7.5|                           1,869|                          274|                             354|
|          Casablanca|A Casablanca, Mor...| January 23, 1943|             100|                              18|                            0|                               0|             8.9|                             360|                           11|                              10|
|         Rear Window|A wheelchair-boun...|September 1, 1954|             100|                              18|                            0|                               0|             8.8|                             365|                           15|                              10|
|       The Godfather|Francis Ford Copp...|   March 11, 1972|             100|                              15|                            0|                               0|             9.2|                           3,293|                           93|                             115|
|         Intolerance|The story of a po...|September 5, 1916|              99|                              15|                            0|                               0|             7.4|                              13|                            1|                               4|
|           Moonlight|Moonlight is the ...| October 21, 2016|              99|                              53|                            0|                               0|             7.1|                           1,244|                          175|                             317|
|         City Lights|The Tramp (Charli...|    March 7, 1931|              99|                              15|                            0|                               0|             8.9|                             102|                            1|                               3|
| Singin' in the Rain|A silent film pro...|   April 11, 1952|              99|                              17|                            0|                               0|             8.7|                             169|                           13|                               5|
|           Notorious|A woman is asked ...|September 6, 1946|             100|                              16|                            0|                               0|             8.0|                              64|                            7|                               3|
|    Some Like It Hot|When two male mus...|   March 29, 1959|              98|                              19|                            0|                               0|             8.4|                             140|                           11|                               4|
|     Pan's Labyrinth|Following a blood...|December 29, 2006|              98|                              37|                            0|                               0|             8.7|                           2,414|                          188|                             150|
|The Treasure of t...|Fred Dobbs and Bo...| January 24, 1948|              98|                               9|                            1|                               0|             8.5|                              93|                            6|                               2|
|        Citizen Kane|Following the dea...|September 4, 1941|             100|                              19|                            0|                               0|             8.4|                             600|                           52|                              36|
|           Lady Bird|Christine "Lady B...| November 3, 2017|              94|                              49|                            1|                               0|             7.6|                             786|                          117|                              90|
|        We Were Here|We Were Here docu...|September 9, 2011|              94|                              11|                            0|                               0|             6.9|                              27|                            6|                               9|
|      The Gunfighter|Notorious gunfigh...|    June 23, 1950|              94|                               8|                            0|                               0|             7.4|                               8|                            1|                               0|
|      Apocalypse Now|During the Vietna...|  August 15, 1979|              94|                              14|                            1|                               0|             8.8|                             619|                           35|                              21|
|       The Apartment|A man tries to ri...|    June 15, 1960|              94|                              20|                            1|                               0|             8.8|                              40|                            0|                               1|
|Meet Me in St. Louis|Young love and ch...|  January 1, 1945|              94|                              17|                            1|                               0|             6.0|                               2|                            2|                               1|
+--------------------+--------------------+-----------------+----------------+--------------------------------+-----------------------------+--------------------------------+----------------+--------------------------------+-----------------------------+--------------------------------+
only showing top 20 rows

In [26]:
type(Pandasdf)

pandas.core.frame.DataFrame

In [27]:
type(sparkDF)

pyspark.sql.dataframe.DataFrame

In [29]:
sparkDF.printSchema()

root
 |-- info.title: string (nullable = true)
 |-- info.summary: string (nullable = true)
 |-- info.date: string (nullable = true)
 |-- meta_score.score: string (nullable = true)
 |-- meta_score.distribution.positive: string (nullable = true)
 |-- meta_score.distribution.mixed: string (nullable = true)
 |-- meta_score.distribution.negative: string (nullable = true)
 |-- user_score.score: string (nullable = true)
 |-- user_score.distribution.positive: string (nullable = true)
 |-- user_score.distribution.mixed: string (nullable = true)
 |-- user_score.distribution.negative: string (nullable = true)